body{
    background-color: #eeeeee;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: auto; 
    height:auto;
}
.menu h1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
    font-size: 35px;
    padding-bottom: 20px;
}
.row{
    width: 80vw; 
    height: auto; 
    margin: auto;
	display: flex;  
    justify-content: space-around;
	flex-wrap: wrap; 
    
}
h2{
    text-align: center;
    font-weight: 600;
    padding: 1px 5px;
    color: whitesmoke;
    background: darksalmon;
    border: 3px solid black;
    border-top: 0;
    border-right: 0;
    margin-left: 190px;
}
.beef h2{
    text-align: center;
    font-weight: 600;
    padding: 1px 5px;
    font: 20;
    color: whitesmoke;
    background: darkred;
    border: 3px solid black;
    border-top: 0;
    border-right: 0;
    margin-left: 190px;
}
.Sushi h2{ 
    text-align: center;
    font-weight: 600;
    padding: 1px 5px;
    font: 20;
    color: whitesmoke;
    background: darkcyan;
    border: 3px solid black;
    border-top: 0;
    border-right: 0;
    margin-left: 190px;
}
p{
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.chicken{
    position: relative;
 
    background:gray;
	flex:1 1 200px;
	margin: 20px;
   
    border: 3px solid black;
}
.beef{
    position: relative;
   
    border: 3px solid black;
    background:gray;
	flex:1 1 200px;
	margin: 20px;
}
.Sushi{
    border: 3px solid black;
	background:gray;
	flex:1 1 200px;
	margin: 20px;
}
@media(min-width:991px){
    .our-menu{
        width: 100%;
    }
}
@media(min-width:767px) and (max-width:991px){
    
    .chicken .beef .Sushi{
        width: 50%;
        float: left;
    }
    .Sushi-tablet{
        width: 100%;
        float: left;
    }
}
@media(max-width:767px){
    .chicken .beef .Sushi{
        width: 100%;
        float: left;
      }
}